@font-face {
  font-family: 'Goorm Sans';
  src: url('/fonts/goorm-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goorm Sans';
  src: url('/fonts/goorm-sans-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goorm Sans';
  src: url('/fonts/goorm-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goorm Sans Code';
  src: url('/fonts/goorm-sans-code.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}