@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 0%;

    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground/75;
  }
}

@layer utilities {
  .animate {
    @apply -translate-y-3 opacity-0 transition-all duration-300 ease-out;

    &.show {
      @apply translate-y-0 opacity-100;
    }
  }
}