---
import BackToPrevious from "~/components/back-to-previous.astro";
import { SITE } from "~/constants/site";
import Layout from "~/layouts/layout.astro";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <div class="mt-16 grid place-items-center gap-3">
    <h4 class="animate text-2xl font-semibold text-black dark:text-white">
      404: 페이지를 찾을 수 없습니다.
    </h4>
    <span class="animate">
      <BackToPrevious href="/">
        홈으로 돌아가기
      </BackToPrevious>
    </span>
  </div>
</Layout>