---
import { getCollection } from 'astro:content'
import PostCard from '~/components/post-card.astro'
import Link from '~/components/ui/link.astro'
import Layout from '~/layouts/layout.astro'
import { process } from '~/utils/process'

const blog = process<'blog'>(await getCollection('blog')).slice(0, 5)
const craft = process<'craft'>(await getCollection('craft')).slice(0, 3)
---

<Layout
  title="wontory.dev"
  description="프론트엔드 개발자 조성원의 개인 블로그입니다."
>
  <div class="space-y-16">
    <section class="space-y-4">
      <div class="animate flex items-center justify-between">
        <h2 class="font-semibold text-foreground">조성원 ﹒ wontory</h2>
      </div>
      <article class="prose space-y-4">
        <span class="animate">
          <p>
            경기대학교에서 컴퓨터공학을 전공하고 있으며, (2019 ~ )
            <br />
            프론트엔드 개발을 중점적으로 공부하고 있습니다.
          </p>
          <p>
            UX Enthusiast로서,
            <br />
            사용자의 입장에서 한 번 더 생각하고, 경험을 개선합니다.
          </p>
        </span>
        <span class="animate">
          <p>
            보여지는 것을 넘어,
            <br />
            애니메이션과 인터랙션을 통해 사용자와 교감하며
            <br />
            보다 사람의 방식으로 가치를 전달하는 것에 큰 관심이 있습니다.
          </p>
          <p>
            다양한 레퍼런스를 찾고 분석/개발해보며, 좋은 UX를 고민하고 있습니다.
          </p>
        </span>
      </article>
    </section>
    <section class="animate space-y-6">
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-foreground">기록</h2>
        <Link href="/blog">전체보기</Link>
      </div>
      <ul class="flex flex-col gap-4">
        {
          blog.map((post) => (
            <li>
              <PostCard entry={post} />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="animate space-y-6">
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-foreground">공방</h2>
        <Link href="/craft">전체보기</Link>
      </div>
      <ul class="flex flex-col gap-4">
        {
          craft.map((post) => (
            <li>
              <PostCard entry={post} />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="animate space-y-4">
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-foreground">창구</h2>
      </div>
      <article class="prose space-y-4">
        <span>
          <p>
            다양한 사람들과 소통하며 견문을 넓히고 싶습니다.
            <br />
            언제든지 연락주세요.
          </p>
        </span>
      </article>
      <ul class="flex gap-4">
        <li>
          <Link href="https://github.com/wontory">GitHub</Link>
        </li>
        <li>
          <Link href="https://www.linkedin.com/in/wontory">LinkedIn</Link>
        </li>
        <li>
          <Link href="mailto:devwontory@gmail.com">devwontory@gmail.com</Link>
        </li>
      </ul>
    </section>
  </div>
</Layout>
