---
import { SITE } from "~/constants/site";
---

<footer class="animate py-6 text-sm">
  <div class="container max-w-screen-sm">
    <div class="flex items-center justify-between">
      <div>Copyright {new Date().getFullYear()} ﹒ {SITE.TITLE}</div>
      <div class="flex flex-wrap items-center gap-1.5">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group flex size-9 items-center justify-center rounded-sm border border-foreground/15 hover:bg-foreground/5 focus-visible:bg-foreground/5"
        >
          L
        </button>
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="group flex size-9 items-center justify-center rounded-sm border border-foreground/15 hover:bg-foreground/5 focus-visible:bg-foreground/5"
        >
          D
        </button>
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="group flex size-9 items-center justify-center rounded-sm border border-foreground/15 hover:bg-foreground/5 focus-visible:bg-foreground/5"
        >
          S
        </button>
      </div>
    </div>
  </div>
</footer>