---
import { SITE } from "~/constants/site";
---

<header class="fixed left-0 right-0 top-0 z-50 py-6 bg-background/75 saturate-200 backdrop-blur-sm" transition:persist>
  <div class="container max-w-screen-sm">
    <div class="flex flex-wrap justify-between gap-y-2">
      <a href="/">
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </a>
      <nav class="flex items-center gap-4 text-sm">
        <a href="/blog">블로그</a>
        <a href="/craft">공방</a>
      </nav>
    </div>
  </div>
</header>