---
import type { ContentEntryMap, CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Card from "~/components/ui/card.astro";

interface Props<T extends keyof ContentEntryMap> {
  entry: CollectionEntry<T>;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`}>
  <Card class="items-center justify-between">
    <div class="flex flex-col *:line-clamp-1">
      <h4 class="font-semibold">{entry.data.title}</h4>
      <span class="text-sm">{entry.data.description}</span>
    </div>
    <div>
      <Icon name="lucide:arrow-right" class="size-4" />
    </div>
  </Card>
</a>
