---
import type { ContentEntryMap, CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Card from "~/components/ui/card.astro";

interface Props<T extends keyof ContentEntryMap> {
  entry: CollectionEntry<T>;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`}>
  <Card
    class="transition-color items-center justify-between duration-300 ease-in-out hover:border-primary hover:text-foreground"
  >
    <div class="flex flex-col *:line-clamp-1">
      <h3 class="font-semibold">{entry.data.title}</h3>
      <span class="text-sm">{entry.data.description}</span>
    </div>
    <div>
      <Icon name="lucide:arrow-right" class="size-4" />
    </div>
  </Card>
</a>
