---
import type { CollectionEntry, ContentEntryMap } from "astro:content";
import { Icon } from "astro-icon/components";
import Button from "~/components/ui/button.astro";

interface Props<T extends keyof ContentEntryMap> {
  current: number;
  collection: CollectionEntry<T>[];
}

const { current, collection } = Astro.props;

const next = collection[current + 1];
const prev = collection[current - 1];
---

<div class="grid grid-cols-2 gap-4">
  {
    prev ? (
      <a href={`/blog/${prev.slug}`}>
        <Button size="lg" class="justify-start gap-4">
          <span>
            <Icon name="lucide:arrow-left" class="size-4" />
          </span>
          <span class="line-clamp-1">{prev.data.title}</span>
        </Button>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
  {
    next ? (
      <a href={`/blog/${next.slug}`}>
        <Button size="lg" class="justify-end gap-4">
          <span class="line-clamp-1">{next.data.title}</span>
          <span>
            <Icon name="lucide:arrow-right" class="size-4" />
          </span>
        </Button>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
</div>
