---
import Link from "~/components/ui/link.astro";
import Button from "~/components/ui/button.astro";
---

<header
  class="sticky top-0 z-50 w-full bg-background/75 saturate-200 backdrop-blur-sm"
  transition:persist
>
  <div class="container flex max-w-screen-sm items-center gap-4 py-6">
    <div class="flex">
      <a href="/" class="font-semibold">wontory.dev</a>
    </div>
    <div class="flex flex-1 items-center justify-end gap-4">
      <Link href="/blog">기록</Link>
      <Link href="/craft">공방</Link>
      <Button size="sm">검색</Button>
    </div>
  </div>
</header>
