---
import Button from "~/components/ui/button.astro";
---

<footer class="animate text-sm">
  <div
    class="container flex max-w-screen-sm items-center justify-between gap-4 py-6"
  >
    <span>&copy; {new Date().getFullYear()} ﹒ wontory.dev</span>
    <Button size="icon">L</Button>
  </div>
</footer>
