---
import Head from "~/components/head.astro";
import { SITE } from "~/constants/site";

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<Head title={`${title} | ${SITE.TITLE}`} description={description} />
	</head>
	<body>
		<main>
      <slot/>
    </main>
	</body>
</html>
