---
import Footer from "~/components/footer.astro";
import Head from "~/components/head.astro";
import Header from "~/components/header.astro";
import Script from "~/components/script.astro";
import { SITE } from "~/constants/site";

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<Head title={`${title} | ${SITE.TITLE}`} description={description} />
		<Script/>
	</head>
	<body class="font-sans antialiased flex flex-col">
		<Header/>
		<main class="flex-1 py-32">
			<div class="container max-w-screen-sm">
      	<slot/>
			</div>
    </main>
		<Footer/>
	</body>
</html>
