---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "cva";
import { cn } from "~/utils/cn";

const buttonVariants = cva({
  base: "inline-flex items-center justify-center rounded-md border border-foreground/15 bg-background font-medium transition-colors duration-300 hover:bg-foreground/5",
  variants: {
    size: {
      default: "px-4 py-2 text-sm",
      sm: "px-2 py-1 text-xs",
      icon: "size-9 text-sm",
    },
  },
  defaultVariants: {
    size: "default",
  },
});

interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof buttonVariants> {}

const { size, class: className, ...props } = Astro.props;
---

<button class={cn(buttonVariants({ size, className }))} {...props}>
  <slot />
</button>
